@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  height: 100%;
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.mode-btn {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.mode-btn:focus {
  outline: none;
}

.mode-btn:active {
  transform: scale(0.98);
}

.clock-wrapper {
  height: 300px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  width: fit-content;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.3s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time-wrapper {
  height: fit-content;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 3rem;
  font-weight: 300;
}

.date {
  color: #aaa;
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3px;
}

.date span {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}
