@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section h2 {
  font-size: 2.5rem;
  color: rgb(59, 5, 238);
  user-select: none;
  white-space: nowrap;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.playStation {
  flex: 1;
  /* background: [background-color] [background-image] [background-repeat] [background-attachment] [background-position]; */
  background-image: url('../assets/ps.jpg');
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex 0.3s ease;
  position: relative;
}

.playStation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(162, 43, 226, 0.412);
}

.xBox {
  flex: 1;
  background-image: url('../assets/xbox.jpg');
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: flex 0.3s ease;
  position: relative;
}

.xBox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 255, 212, 0.236);
  /* z-index: -1; */
}

.btn {
  padding: 16px 48px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(59, 5, 238);
  color: rgb(98, 62, 214);
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-wrap: nowrap;
}

.btn:hover {
  background-color: rgb(0, 0, 255);
}
